{% extends 'base.html' %}

{% block content %}
<div><h1 id="dumdum">asdfghjklmnbvcxz</h1></div>
<div class='ulpoad-image'>
    <form method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        <div class='custom-file'>
            <label for="id_image" class='custom-file-label' id='imagelabel'>Choose file</label>
            {{form.image}}  
        </div>
        <div class='upload-text'>
            <label for='id_content' class='upload-text-label'>Text</label>
            {{form.content}}
        </div>
        <input type="submit" value="Upload">

    </form>    
</div>


{% endblock content %}

{% block script %}
{% endblock script %}